# --- Heavy Directories (Data & Artifacts) ---
data/
models/
results/
trash/
archive_old_logs/
work_exp1/  
work_exp2/  
results_OLD/

# --- Nextflow ---
work/
.nextflow*
.nextflow.log*

# --- Python ---
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints

# --- System / Editor Junk ---
.DS_Store
*.swp
*.swo
.vscode/
.idea/

*.npy
*.pt
*.csv
