# --- Heavy Directories (Data & Artifacts) ---
data/
models/
results/
trash/

# --- Nextflow ---
work/
.nextflow*
.nextflow.log*

# --- Python ---
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints

# --- System / Editor Junk ---
.DS_Store
*.swp
*.swo
.vscode/
.idea/

*.npy
*.pt
*.csv
*.png
