// nextflow.config
profiles {
    standard {
        process.executor = 'local'
    }
    
    sapelo2 {
        process.executor = 'slurm'
        process.queue = 'batch' // Or whatever specific partition Sapelo2 requires
        process.memory = '32 GB'
        process.time = '4h'
        process.cpus = 4
        
        // You can get granular and give specific processes more juice
        withName: 'TRAIN_SOURCE|TEST_ADAPTATION' {
            clusterOptions = '--gres=gpu:1' // Request a GPU for PyTorch processes
            memory = '64 GB'
        }
    }
}

// Global parameters that can be overridden by your YAML
params {
    outdir = "results/run_${new Date().format('yyyyMMdd_HHmmss')}"
}
