// nextflow.config
profiles {
    standard {
        process.executor = 'local'
    }
    
    sapelo2 {
        process {
            // DEFAULT: For standard CPU tasks
            executor = 'slurm'
            queue = 'batch' 
            memory = '16 GB'
            time = '2h'
            cpus = 4
            clusterOptions = '--ntasks=1'
            
            // Load the environment on every worker node
            beforeScript = '''
            module load Miniforge3
            eval "$(conda shell.bash hook)"
            conda activate /work/ah2lab/LiamK/conda_envs/plm_dynamics
            '''
            
            // HEAVY CPU: Isolate the 1M embedding generation
            withName: 'GEN_SOURCE' {
                memory = '32 GB'
                time = '4h'
            }
            
            // GPU TASKS: Route PyTorch scripts to the GPU nodes
            withName: 'TRAIN_SOURCE|TEST_ADAPTATION' {
                queue = 'gpu_p' 
                clusterOptions = '--ntasks=1 --gres=gpu:A100:1'
                memory = '32 GB'
                time = '4h'
                maxForks = 2
            }
        }
    }
}

params {
    outdir = "results/run_${new Date().format('yyyyMMdd_HHmmss')}"
}
